$color-light-black: #f8f8f8f8;
$color-medium-black: #ebe9e9f8;
$color-light-white: #f9f9f9;
$color-ligh-white-blur: #eaeaf5ad;

$color-show-toolbar-black: #00000038;
$secondary-color: #303030;

$color-header-toolbar-light: #eaeaf5;
$color-header-toolbar-blue: #609fff;
$color-header-toolbar-background-profile: rgb(0 0 0 / 6%);
$color-header-toolbar-primary: #f5f5f5;
$color-white-modal: #ffffff7a;

$online-status: #44a844;
$busy-status: #dc2d2d;