$color-light-black: #f8f8f8f8;
$color-light-white: #f9f9f9;
$color-ligh-white-blur: #eaeaf5ad;

$color-show-toolbar-black: #00000038;
$secondary-color: #303030;

$color-header-toolbar-light: #eaeaf5;
$color-header-toolbar-light-opacity-0-5: #eaeaf575;
$color-header-toolbar-background-profile: rgb(0 0 0 / 6%);
$color-white-modal: #ffffff7a;