.loader-full {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 1000000;
}

.loader-full-inside {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 150px);
    z-index: 1000000;
}

.blocks-wrapper {
    z-index: 1;
}

.dashboard-container {
    &.sticky {
        padding-top: 64px;
    }
    .ant-layout-content {
        padding: 0 50px;
        max-width: 1000px;
        margin: auto;
    
        .meta-card {
            .video-frame {
                width: 100%;
                height: 100%;
                border: none;
                border-radius: 10px;
                box-shadow: 0 0 3px 0px $secondary-color;
            }
            .ant-card-body {
                padding: 10px 20px;
        
                p {
                    font-size: 0.8rem;;
                }
            }
        }
        
    
        .ant-card.ant-card-bordered {
            padding: 20px;
            border-radius: 10px;
            margin: 10px 0;
    
            .meta-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }
    
            .meta-content-description {
                position: relative;
                top: 5px;
                p {
                    position: relative;
                    top: -10px;
                    font-size: 0.8rem;
                    color: $secondary-color;
                }
            }
    
            .meta-description {
                position: relative;
                top: -20px;
            }
    
            .comment-component-container {
                .ant-comment-actions {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    li:first-child {
                        span {
                            margin: 0 2px;
                        }
                    }
                }
            }
    
        }
    }
}
