.authentication-layout {
    min-height: 100vh;
    background-image: url(getImageUrl('background.jpg'));
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
    
    .logo {
        width: 100%;
        z-index: 100;
        align-items: center;
        display: flex;
        justify-content: center;
        transition: all 1s ease;

        img {
            width: 80%;
            margin-bottom: 20%;
        }

        // tablet
        @media screen and (max-width: 912px) {
            width: 80%;
            img {
                width: 70%;
            }
        }
    }

    .form-login-content {
        background: $color-light-white;
        padding: 20px;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20vw;
        min-width: 370px;
        box-shadow: 0 0 10px 0 $color-show-toolbar-black;

        form {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            width: 100%;
        }

        // tablet
        @media screen and (max-width: 912px) {
            width: 100%;
            min-width: 0;
            form {
                width: 80%;
            }
        }

    }
}