.online-tick {
    position: absolute;
    border-radius: 50%;
    left: 16px;
    top: 20px;
    width: 10px;
    height: 10px;
    background-color: $online-status;
}

.busy-tick {
    position: absolute;
    border-radius: 50%;
    left: 16px;
    top: 20px;
    width: 10px;
    height: 10px;
    background-color: $busy-status;
}

.open-conversation-container {
    bottom: 0;
    position: fixed;
    z-index: 1000;
    margin-right: 200px;
    right: 0;
    display: flex;
    align-items: flex-end;
    .messenger-chat-item {
        &-container {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            flex-direction: column;
            width: 350px;
            height: 450px;
            box-shadow: 0 0 10px 0px $color-medium-black;
            background-color: $color-light-white;
            margin: 0 5px 0 5px;
            border-radius: 5px 5px 0 0;
            border: 1px solid $color-medium-black;
        }
        &-header {
            background-color: $color-header-toolbar-primary;
            height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            &-title {
                padding-left: 16px;
            }
            &-action {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.5em;
                &-minimize {
                    padding: 0 5px;
                    height: 100%;
                    &:hover {
                        cursor: pointer;
                        background-color: $color-show-toolbar-black;
                        color: white;
                    }
                }
                &-close {
                    padding: 0 5px;
                    height: 100%;
                    &:hover {
                        cursor: pointer;
                        background-color: $color-show-toolbar-red;
                        border-radius: 0 5px 0 0;
                        color: white;
                    }
                }
            }
        }
        &-content {
            width: 100%;
        }
        &-footer {
            width: 100%;
            border-top: 1px solid $color-medium-black;
        }
    }
}

.messenger-sidebar {
    border: 1px solid #DEDEDE;
    border-top: none;
    .friend-list {
        height: calc(100vh - 135px);
        overflow: auto;
        position: relative;
        .friend-item {
            position: relative;
            padding: 16px 16px 16px 16px;
            border-bottom: 1px solid $color-header-toolbar-primary;
            display: flex;
            align-items: center;
            &:hover {
                cursor: pointer;
                background-color: $color-medium-black;
            }
            .online-tick {
                top: 35px;
                left: 35px;
                z-index: 100;
                width: 14px;
                height: 14px;
                border: 2px solid $color-light-white;
            }
            .busy-tick {
                top: 35px;
                left: 35px;
                z-index: 100;
                width: 14px;
                height: 14px;
                border: 2px solid $color-light-white;
            }
            &-avatar {
                width: 30px;
                height: 30px;
                border: 3px solid $color-light-black;
                box-shadow: 0 0 2px black;
                margin-right: 6px;
            }
            &-container-siderbar {
                display: flex;
                flex-direction: column;
                line-height: 12px;
            }
        }
    }
    &-friend-search {
        position: absolute;
        bottom: 115px;
        width: 100%;
        border-top: 1px solid #DEDEDE;
        &-input {
            border: none;
        }
    }
    &-friend-btn {
        border-top: 1px solid #DEDEDE;
        width: 100%;
        position: absolute;
        padding: 16px 16px 16px 30px;
        bottom: 63px;
    }
}