.header-container {
    height: 200px;
    position: relative;

    &-background-cover {
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
        height: 100%;
        position: relative;

        .profile-cover-upload {
            position: absolute;
            top: 10px;
            right:10px;
            border-radius: 100%;
            background: $color-light-white;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .6s ease-in-out all;
            border: 2px solid #f8f8f8f8;
            box-shadow: 0 0 5px black;
            &:hover {
                cursor: pointer;
            }
        }
    }


    &-profile {
        position: absolute;
        bottom: -30px;
        color: $color-light-black;
        display: flex;
        align-items: center;
        font-size: 1rem;
        width: 100%;

        .profile-picture-container {
            position: relative;

            .profile-picture-upload {
                position: absolute;
                bottom: -50px;
                right: 30px;
                border-radius: 100%;
                background: $color-light-white;
                width: 25px;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .6s ease-in-out all;
                border: 2px solid #f8f8f8f8;
                box-shadow: 0 0 5px black;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .header-container-avatar {
            width: 120px;
            height: 120px;
            min-width: 120px;
            min-height: 120px;
            border: 3px solid $color-light-black;
            margin: 0 30px;
            box-shadow: 0 0 5px black;
        }
    }

    &-btn-group {
        right: 30px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            margin: 0 5px;
        }
    }

    margin-bottom: 5em;
}