.header-container {
    height: 200px;
    position: relative;

    &-background-cover {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        height: 100%;
    }


    &-profile {
        position: absolute;
        bottom: -30px;
        color: $color-light-black;
        display: flex;
        align-items: center;
        font-size: 1rem;
        width: 100%;

        .header-container-avatar {
            width: 120px;
            height: 120px;
            min-width: 120px;
            min-height: 120px;
            border: 3px solid $color-light-black;
            margin: 0 30px;
            box-shadow: 0 0 5px black;
        }
    }

    &-btn-group {
        right: 30px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        button {
            margin: 0 5px;
        }
    }

    margin-bottom: 5em;
}